<div class="col-4">
  <%= link_to movie_path(movie) do %>
    <div class="card my-3">
      <img class="img-thumbnail" src="<%= movie.poster_url %>" alt="movie poster image">
      <div class="card-body">
        <h4><%= movie.title %></h4>
        <p><%= movie.overview %></p>
        <%= link_to new_movie_bookmark_path(movie) do %>
          <i class="far fa-bookmark"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>